@import "styles/mixins"

.project__titleWrapper
  @include baseBorder
  display: flex
  align-items: center

  padding-left: 10px
  margin-bottom: 10px

.project__title
  @include bigText
  margin-right: 10px

.project__contentWrapper
  margin-bottom: 20px
.project__content
  display: flex
  width: 100%

.project__description
  width: 40%
  margin-right: 30px

.project__image
  width: 600px

.content__slider
  display: block
  max-width: 55%
  min-width: 600px

.project__iconsWrapper
  background-color: gainsboro
  @include baseBorder
  padding: 4px

.project__icon
  width: 25px
  height: 25px
  margin: 0 10px 0 0
