.container {
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.mobileContainer {
    display: none;
}

.contentContainer {
    display: flex;
    position: fixed;
    padding: 5vh 0;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(27,27,48,1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.sectionScrollComponentContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    min-width: 330vw;
    min-height: 530px;
    max-height: 63vh;
}

.contentFakeContainer {
    position: relative;
    width: 100%;
}
@media only screen and (max-width:480px) {
    .contentFakeContainer {
        display: none;
    }
    .mobileContainer {
        display: flex;
        flex-direction: column;
        background-color: black;
        height: 100vh;
        width: 100vw;
        color: bisque;
        align-items: center;
        justify-content: center;
    }
    .container {
        flex-direction: column;
    }
}

@media only screen and (max-width:1680px) {
    .sectionScrollComponentContainer {
        min-width: 320vw;
    }
}

