.container {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 3px 0;
    opacity: 0.4;
}

.toggleContainer {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.toggleButton {
    margin: 0 7px;
}

